In [1]:
import pandas as pd

df_teacher_submission = pd.read_csv("teacher_submissions.csv")
print(df_teacher_submission.head())

df_teacher_registration= pd.read_csv("teacher_registration (1).csv")
print(df_teacher_registration.head())

   submission_id                               bq_uuid  \
0       29629319  803afa5f-79e0-4f9b-9b2e-55a750508b12
1       30076110  b6c657bb-8ad4-4979-9f79-57ee16d4cd38
2       30076335  3e011480-d1a2-4efa-9c02-41ba3b818086
3       30504668  9a268af7-b1e8-46cc-9ec5-7f80209afc00
4       30507327  567393a6-af04-4ae9-b9f3-75a2e8419b82

               bq_inserted_at               name  \
0  2025-01-29 18:52:07.925089  03_B_IMPL LT MAIN
1  2025-02-03 11:56:01.347096  03_B_IMPL LT MAIN
2  2025-02-03 11:58:01.951761  03_B_IMPL LT MAIN
3  2025-02-07 12:38:06.096135  03_B_IMPL LT MAIN
4  2025-02-13 17:12:22.582940  03_B_IMPL LT MAIN

                                   uuid                 inserted_at  \
0  1194e485-f2de-4518-b4e1-e17c15c3f191  2025-01-29 18:50:28.650738
1  1194e485-f2de-4518-b4e1-e17c15c3f191  2025-02-03 11:53:51.447820
2  1194e485-f2de-4518-b4e1-e17c15c3f191  2025-02-03 11:56:26.015799
3  1194e485-f2de-4518-b4e1-e17c15c3f191  2025-02-07 11:32:23.194699
4  1194e485-f2de-4518-b4e1-e17c15c3f191  2025-02-07 11:40:19.807669

                   updated_at  \
0  2025-01-29 18:51:16.077071
1  2025-02-03 11:55:24.484639
2  2025-02-03 11:57:49.000367
3  2025-02-07 12:37:13.548310
4  2025-02-13 17:10:49.115223

                                             results  flow_version  \
0  {"bl_student_sats": {"category": "", "input": ...            15
1  {"bl_student_sats": {"category": "", "input": ...            15
2  {"bl_student_sats": {"category": "", "input": ...            15
3  {"bl_student_sats": {"category": "", "input": ...            15
4  {"bl_student_sats": {"category": "", "input": ...            15

   flow_context_id  profile_id  contact_id
0         46330155         NaN     3767170
1         46876833         NaN     3775227
2         46877056         NaN     3767356
3         47364538         NaN     3789875
4         47367199         NaN     3789746
        id status language           optin_time                 inserted_at  \
0  3853713  valid  Kannada  2025-02-28 04:46:39  2025-02-27 16:32:52.297700
1  3792323  valid  Kannada  2025-02-07 18:14:21  2025-02-07 18:13:48.697537
2  3792323  valid  Kannada  2025-02-07 18:14:21  2025-02-07 18:13:48.697537
3  3792323  valid  Kannada  2025-02-07 18:14:21  2025-02-07 18:13:48.697537
4  3792323  valid  Kannada  2025-02-07 18:14:21  2025-02-07 18:13:48.697537

                                             results
0  [{"label": "teacher_consent", "value": "Consen...
1  [{"label": "el_counter", "value": "3", "type":...
2  [{"label": "el_counter", "value": "3", "type":...
3  [{"label": "el_counter", "value": "3", "type":...
4  [{"label": "el_counter", "value": "3", "type":...

In [2]:
df_teacher_registration

,id,status,language,optin_time,inserted_at,results
0,3853713,valid,Kannada,2025-02-28 04:46:39,2025-02-27 16:32:52.297700,"[{""label"": ""teacher_consent"", ""value"": ""Consen..."
1,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,"[{""label"": ""el_counter"", ""value"": ""3"", ""type"":..."
2,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,"[{""label"": ""el_counter"", ""value"": ""3"", ""type"":..."
3,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,"[{""label"": ""el_counter"", ""value"": ""3"", ""type"":..."
4,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,"[{""label"": ""el_counter"", ""value"": ""3"", ""type"":..."
...,...,...,...,...,...,...
28203,3836013,valid,Kannada,2025-02-24 12:35:48,2025-02-24 12:35:14.054909,"[{""label"": ""el_counter"", ""value"": ""0"", ""type"":..."
28204,3793944,valid,Kannada,2025-02-08 10:23:04,2025-02-08 10:22:50.383467,"[{""label"": ""el_counter"", ""value"": ""2"", ""type"":..."
28205,3836807,valid,Kannada,2025-02-24 11:55:27,2025-02-24 11:53:56.714126,"[{""label"": ""el_counter"", ""value"": ""0"", ""type"":..."
28206,3813241,valid,Kannada,2025-02-14 10:24:04,2025-02-14 10:23:48.962998,"[{""label"": ""el_counter"", ""value"": ""0"", ""type"":..."
28207,3701964,valid,Kannada,2025-02-11 10:22:06,2025-02-11 10:21:13.437754,"[{""label"": ""el_counter"", ""value"": ""2"", ""type"":..."

In [4]:
df_teacher_submission

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,results,flow_version,flow_context_id,profile_id,contact_id
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46330155,NaN,3767170
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46876833,NaN,3775227
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46877056,NaN,3767356
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47364538,NaN,3789875
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47367199,NaN,3789746
...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49914988,NaN,3824821
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,"{""parent"": {""welcome_surveyselection_lt"": {""ca...",30,49915663,NaN,3825602
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915906,NaN,3833787
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915941,NaN,3855215
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49916563,NaN,3861082

In [5]:
import json

def extract_corrected_school_info(json_str):
    try:
        json_data = json.loads(json_str.replace("'", '"'))  # Convert to valid JSON
        school_info = {
            'division': None,
            'district': None,
            'block': None,
            'cluster': None,
            'school': None
        }
        for item in json_data:
            if item['label'] == 'teacher_division':
                school_info['division'] = item['value']
            elif item['label'] == 'teacher_district':
                school_info['district'] = item['value']
            elif item['label'] == 'teacher_block':
                school_info['block'] = item['value']
            elif item['label'] == 'teacher_cluster':
                school_info['cluster'] = item['value']
            elif item['label'] == 'teacher_school':
                school_info['school'] = item['value']
        return school_info
    except Exception:
        return {'division': None, 'district': None, 'block': None, 'cluster': None, 'school': None}

corrected_school_details = df_teacher_registration['results'].apply(
    lambda x: extract_corrected_school_info(x) if isinstance(x, str) else {}
)
corrected_school_details_df = pd.DataFrame(corrected_school_details.tolist())
df_teacher_registration = pd.concat([df_teacher_registration, corrected_school_details_df], axis=1)
df_teacher_registration.drop(columns=['results'], inplace=True)
df_teacher_registration.head()

,id,status,language,optin_time,inserted_at,division,district,block,cluster,school
0,3853713,valid,Kannada,2025-02-28 04:46:39,2025-02-27 16:32:52.297700,None,None,None,None,None
1,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
2,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
3,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
4,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL

In [6]:
df_teacher_registration

,id,status,language,optin_time,inserted_at,division,district,block,cluster,school
0,3853713,valid,Kannada,2025-02-28 04:46:39,2025-02-27 16:32:52.297700,None,None,None,None,None
1,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
2,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
3,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
4,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
...,...,...,...,...,...,...,...,...,...,...
28203,3836013,valid,Kannada,2025-02-24 12:35:48,2025-02-24 12:35:14.054909,KALABURAGI,KOPPAL,YELBURGA,TALAKERE,GHPS CHIKKAMANNAPUR
28204,3793944,valid,Kannada,2025-02-08 10:23:04,2025-02-08 10:22:50.383467,DHARWAD,HAVERI,HANAGAL,BAMMANAHALLI,GHPS MODEL SCHOOL BAMMANAHALLI
28205,3836807,valid,Kannada,2025-02-24 11:55:27,2025-02-24 11:53:56.714126,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GHPS M. SUGUR
28206,3813241,valid,Kannada,2025-02-14 10:24:04,2025-02-14 10:23:48.962998,KALABURAGI,BALLARI,SANDUR,LAKSHMIPURA,GHPS SANDUR 14 TH WARD HOSACHAPPARADAHALLI SANDUR
28207,3701964,valid,Kannada,2025-02-11 10:22:06,2025-02-11 10:21:13.437754,BENGALURU,SHIVAMOGGA,SHIKARIPUR,ISUR,GLPS DEVARAHALLI

In [12]:
duplicate_teachers = df_teacher_registration[df_teacher_registration.duplicated(subset=['id'], keep=False)]

duplicate_teachers

,id,status,language,optin_time,inserted_at,division,district,block,cluster,school
0,3853713,valid,Kannada,2025-02-28 04:46:39,2025-02-27 16:32:52.297700,None,None,None,None,None
1,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
2,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
3,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
4,3792323,valid,Kannada,2025-02-07 18:14:21,2025-02-07 18:13:48.697537,DHARWAD,HAVERI,SAVANUR,KADAKOL,GOVT MODEL PRIMARY SCHOOL KADAKOL
...,...,...,...,...,...,...,...,...,...,...
27992,3706560,valid,Kannada,2025-02-12 13:49:14,2025-02-12 13:48:38.074973,MYSURU,MYSURU,NANJANAGUD,SUTTURU,GOVERNMENT HIGHER PRIMARY SCHOOL SUTTURU
28029,3702087,valid,Kannada,2025-02-11 13:09:12,2025-02-11 13:08:35.521390,DHARWAD,VIJAYAPURA,BIJAPUR RURAL,TIKOTA,GOVT MPS TIKOTA
28040,3700638,valid,English,2025-02-13 14:41:52,2025-02-13 14:41:06.664357,DHARWAD,BELAGAVI,KHANAPUR,RAMGURWADI,MARATHI LOWER PRIMARY SCHOOL DUKKARAWADI
28165,3828327,valid,Kannada,2025-02-20 11:41:53,2025-02-20 11:41:12.649721,KALABURAGI,VIJAYANAGARA,HOSPET,G.NAGALAPURA,GHPS DEVALAPURA
28205,3836807,valid,Kannada,2025-02-24 11:55:27,2025-02-24 11:53:56.714126,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GHPS M. SUGUR

In [13]:

df_teacher_registration['inserted_at'] = pd.to_datetime(df_teacher_registration['inserted_at'])
df_teacher_registration = df_teacher_registration.sort_values(by='inserted_at', ascending=False)
df_teacher_registration = df_teacher_registration.drop_duplicates(subset=['id'], keep='first')

In [14]:
df_teacher_registration

,id,status,language,optin_time,inserted_at,division,district,block,cluster,school
401,3862828,valid,English,NaN,2025-02-28 16:50:21.346571,None,None,None,None,None
402,3862827,valid,Kannada,2025-02-28 16:50:56,2025-02-28 16:50:17.590563,None,None,None,None,None
403,3862824,valid,Kannada,NaN,2025-02-28 16:49:16.259403,None,None,None,None,None
418,3862823,valid,Kannada,2025-02-28 16:49:05,2025-02-28 16:48:51.327221,KALABURAGI,VIJAYANAGARA,HADAGALI,SOGI,GMHPS SOGI
376,3862821,valid,Kannada,NaN,2025-02-28 16:47:21.429988,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
18004,3753205,valid,Kannada,2025-01-22 12:00:42,2025-01-22 12:00:12.861174,BENGALURU,CHIKKABALLAPURA,BAGEPALLY,DEVARAGUDIPALLI,G L P S MUDDALAPALLI
17715,3753177,valid,English,2025-01-22 11:00:26,2025-01-22 10:52:46.056135,KALABURAGI,KALBURGI,GULBARGA NORTH,ROJATAIN,GOVT MPS URDU ROZATAIN (KHAJA COLONY) GULBARGA
23145,3753154,valid,Kannada,2025-01-22 10:39:26,2025-01-22 10:38:52.068827,BENGALURU,SHIVAMOGGA,SORAB,JADE,GLPS TUMARIKOPPA
12871,3751056,valid,Kannada,2025-01-21 18:17:57,2025-01-21 18:17:22.714982,BENGALURU,SHIVAMOGGA,SORAB,HIREKASAVI,GHPS INDIHALLI
24398,3751855,valid,Kannada,2025-01-21 17:02:34,2025-01-21 17:01:58.640078,BENGALURU,SHIVAMOGGA,SORAB,SAMANAVALLI,GHPS SAMANAVALLI

In [21]:
df_teacher_submission

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,results,flow_version,flow_context_id,profile_id,contact_id
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46330155,NaN,3767170
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46876833,NaN,3775227
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46877056,NaN,3767356
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47364538,NaN,3789875
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47367199,NaN,3789746
...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49914988,NaN,3824821
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,"{""parent"": {""welcome_surveyselection_lt"": {""ca...",30,49915663,NaN,3825602
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915906,NaN,3833787
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915941,NaN,3855215
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49916563,NaN,3861082

In [22]:
df_merged = df_teacher_submission.merge(
    df_teacher_registration[['id', 'division', 'district', 'block', 'cluster', 'school']],
    left_on='contact_id',
    right_on='id',
    how='left'
)

In [23]:
df_merged

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,results,flow_version,flow_context_id,profile_id,contact_id,id,division,district,block,cluster,school
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46330155,NaN,3767170,3767170.0,KALABURAGI,KALBURGI,GULBARGA SOUTH,M S K MILL GULBARGA,GLPS URDU SRINIVAS SARADAGI
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46876833,NaN,3775227,3775227.0,KALABURAGI,RAICHUR,SINDHANUR,GOUDANBHAVI,GOVT.HIGHER PRIMARY SCHOOL HULLUR
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46877056,NaN,3767356,3767356.0,KALABURAGI,KALBURGI,GULBARGA SOUTH,FARATABAD,GOVT HPS GAROOR [B]
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47364538,NaN,3789875,3789875.0,KALABURAGI,KOPPAL,GANGAVATHI,CHIKKAJANTHAKAL,GOVERNMENT LOWER PRIMARY SCHOOL DANAPUR
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47367199,NaN,3789746,3789746.0,KALABURAGI,RAICHUR,RAICHUR,DEVASUGUR,GOVT.HIGHER PRIMARY SCHOOL I ST CROSS SHAKTINAGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49914988,NaN,3824821,3824821.0,DHARWAD,VIJAYAPURA,INDI,SALOTAGI,GOVT KBHPS SALOTAGI HK
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,"{""parent"": {""welcome_surveyselection_lt"": {""ca...",30,49915663,NaN,3825602,3825602.0,MYSURU,MYSURU,NANJANAGUD,HADYA,GLPS HADYADAHUNDI
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915906,NaN,3833787,3833787.0,DHARWAD,VIJAYAPURA,INDI,INDI NO. 2,GOVT LPS GUDLENNAWAR VST SATAPUR
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915941,NaN,3855215,3855215.0,None,None,None,None,None
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49916563,NaN,3861082,3861082.0,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GLPS DODDA RAJA CAMP

In [26]:
df_merged.drop(columns=['id'], inplace=True)

In [27]:
df_merged

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,results,flow_version,flow_context_id,profile_id,contact_id,division,district,block,cluster,school
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46330155,NaN,3767170,KALABURAGI,KALBURGI,GULBARGA SOUTH,M S K MILL GULBARGA,GLPS URDU SRINIVAS SARADAGI
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46876833,NaN,3775227,KALABURAGI,RAICHUR,SINDHANUR,GOUDANBHAVI,GOVT.HIGHER PRIMARY SCHOOL HULLUR
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,46877056,NaN,3767356,KALABURAGI,KALBURGI,GULBARGA SOUTH,FARATABAD,GOVT HPS GAROOR [B]
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47364538,NaN,3789875,KALABURAGI,KOPPAL,GANGAVATHI,CHIKKAJANTHAKAL,GOVERNMENT LOWER PRIMARY SCHOOL DANAPUR
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,"{""bl_student_sats"": {""category"": """", ""input"": ...",15,47367199,NaN,3789746,KALABURAGI,RAICHUR,RAICHUR,DEVASUGUR,GOVT.HIGHER PRIMARY SCHOOL I ST CROSS SHAKTINAGA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49914988,NaN,3824821,DHARWAD,VIJAYAPURA,INDI,SALOTAGI,GOVT KBHPS SALOTAGI HK
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,"{""parent"": {""welcome_surveyselection_lt"": {""ca...",30,49915663,NaN,3825602,MYSURU,MYSURU,NANJANAGUD,HADYA,GLPS HADYADAHUNDI
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915906,NaN,3833787,DHARWAD,VIJAYAPURA,INDI,INDI NO. 2,GOVT LPS GUDLENNAWAR VST SATAPUR
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49915941,NaN,3855215,None,None,None,None,None
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,"{""bl_caregiver_consent"": {""category"": ""Yes"", ""...",30,49916563,NaN,3861082,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GLPS DODDA RAJA CAMP

In [37]:

def extract_assessment_info(json_str):
    try:
        json_data = json.loads(json_str)
        assessment_info = {
            'baseline_level': json_data.get('bl_student_level', {}).get('category', None),
            'tutoring_confirmed': json_data.get('impl_lt_confirm', {}).get('category', None),
            'endline_level': json_data.get('el_student_level', {}).get('category', None)
        }
        return assessment_info
    except Exception:
        return {'baseline_level': None, 'tutoring_confirmed': None, 'endline_level': None}
    
df_merged[['baseline_level', 'tutoring_confirmed', 'endline_level']] = df_merged['results'].apply(
    lambda x: pd.Series(extract_assessment_info(x) if isinstance(x, str) else {})
)
df_merged.drop(columns=['results'], inplace=True)

In [38]:
df_merged

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,flow_version,flow_context_id,profile_id,contact_id,division,district,block,cluster,school,baseline_level,tutoring_confirmed,endline_level
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,15,46330155,NaN,3767170,KALABURAGI,KALBURGI,GULBARGA SOUTH,M S K MILL GULBARGA,GLPS URDU SRINIVAS SARADAGI,None,Yes,None
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,15,46876833,NaN,3775227,KALABURAGI,RAICHUR,SINDHANUR,GOUDANBHAVI,GOVT.HIGHER PRIMARY SCHOOL HULLUR,None,Yes,None
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,15,46877056,NaN,3767356,KALABURAGI,KALBURGI,GULBARGA SOUTH,FARATABAD,GOVT HPS GAROOR [B],None,Yes,None
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,15,47364538,NaN,3789875,KALABURAGI,KOPPAL,GANGAVATHI,CHIKKAJANTHAKAL,GOVERNMENT LOWER PRIMARY SCHOOL DANAPUR,None,Yes,None
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,15,47367199,NaN,3789746,KALABURAGI,RAICHUR,RAICHUR,DEVASUGUR,GOVT.HIGHER PRIMARY SCHOOL I ST CROSS SHAKTINAGA,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,30,49914988,NaN,3824821,DHARWAD,VIJAYAPURA,INDI,SALOTAGI,GOVT KBHPS SALOTAGI HK,None,None,None
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,30,49915663,NaN,3825602,MYSURU,MYSURU,NANJANAGUD,HADYA,GLPS HADYADAHUNDI,None,None,None
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,30,49915906,NaN,3833787,DHARWAD,VIJAYAPURA,INDI,INDI NO. 2,GOVT LPS GUDLENNAWAR VST SATAPUR,Addition,None,None
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,30,49915941,NaN,3855215,None,None,None,None,None,None,None,None
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,30,49916563,NaN,3861082,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GLPS DODDA RAJA CAMP,Multiplication,None,None

In [40]:
df_merged.columns

Index(['submission_id', 'bq_uuid', 'bq_inserted_at', 'name', 'uuid',
       'inserted_at', 'updated_at', 'flow_version', 'flow_context_id',
       'profile_id', 'contact_id', 'division', 'district', 'block', 'cluster',
       'school', 'baseline_level', 'tutoring_confirmed', 'endline_level'],
      dtype='object')

In [41]:

level_mapping = {
    'Beginner': 0,
    'Addition': 1,
    'Subtraction': 2,
    'Multiplication': 3,
    'Division': 4
}
df_merged['baseline_level_numeric'] = df_merged['baseline_level'].map(level_mapping)
df_merged['endline_level_numeric'] = df_merged['endline_level'].map(level_mapping)

In [42]:
df_merged

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,flow_version,flow_context_id,profile_id,...,division,district,block,cluster,school,baseline_level,tutoring_confirmed,endline_level,baseline_level_numeric,endline_level_numeric
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,15,46330155,NaN,...,KALABURAGI,KALBURGI,GULBARGA SOUTH,M S K MILL GULBARGA,GLPS URDU SRINIVAS SARADAGI,None,Yes,None,NaN,NaN
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,15,46876833,NaN,...,KALABURAGI,RAICHUR,SINDHANUR,GOUDANBHAVI,GOVT.HIGHER PRIMARY SCHOOL HULLUR,None,Yes,None,NaN,NaN
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,15,46877056,NaN,...,KALABURAGI,KALBURGI,GULBARGA SOUTH,FARATABAD,GOVT HPS GAROOR [B],None,Yes,None,NaN,NaN
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,15,47364538,NaN,...,KALABURAGI,KOPPAL,GANGAVATHI,CHIKKAJANTHAKAL,GOVERNMENT LOWER PRIMARY SCHOOL DANAPUR,None,Yes,None,NaN,NaN
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,15,47367199,NaN,...,KALABURAGI,RAICHUR,RAICHUR,DEVASUGUR,GOVT.HIGHER PRIMARY SCHOOL I ST CROSS SHAKTINAGA,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,30,49914988,NaN,...,DHARWAD,VIJAYAPURA,INDI,SALOTAGI,GOVT KBHPS SALOTAGI HK,None,None,None,NaN,NaN
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,30,49915663,NaN,...,MYSURU,MYSURU,NANJANAGUD,HADYA,GLPS HADYADAHUNDI,None,None,None,NaN,NaN
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,30,49915906,NaN,...,DHARWAD,VIJAYAPURA,INDI,INDI NO. 2,GOVT LPS GUDLENNAWAR VST SATAPUR,Addition,None,None,1.0,NaN
151348,32631872,74198205-2415-471b-b94f-2341ae42dbef,2025-02-28 12:10:11.767397,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:55.845972,2025-02-28 12:10:06.318170,30,49915941,NaN,...,None,None,None,None,None,None,None,None,NaN,NaN
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,30,49916563,NaN,...,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GLPS DODDA RAJA CAMP,Multiplication,None,None,3.0,NaN

In [45]:
df_merged.isnull().sum()

submission_id                  0
bq_uuid                        0
bq_inserted_at                 0
name                           0
uuid                           0
inserted_at                    0
updated_at                     0
flow_version                   0
flow_context_id                0
profile_id                151350
contact_id                     0
division                     548
district                     548
block                        548
cluster                      548
school                       548
baseline_level             97918
tutoring_confirmed         90618
endline_level             125121
baseline_level_numeric     98017
endline_level_numeric     125480
dtype: int64

In [46]:
# Calculate the percentage of rows with missing school information
missing_schools = df_merged['school'].isnull().sum()
total_rows = len(df_merged)
missing_percentage = (missing_schools / total_rows) * 100
missing_percentage

0.3620746613809052

In [47]:
df_merged = df_merged.dropna(subset=['school'])

In [48]:
df_merged

,submission_id,bq_uuid,bq_inserted_at,name,uuid,inserted_at,updated_at,flow_version,flow_context_id,profile_id,...,division,district,block,cluster,school,baseline_level,tutoring_confirmed,endline_level,baseline_level_numeric,endline_level_numeric
0,29629319,803afa5f-79e0-4f9b-9b2e-55a750508b12,2025-01-29 18:52:07.925089,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-01-29 18:50:28.650738,2025-01-29 18:51:16.077071,15,46330155,NaN,...,KALABURAGI,KALBURGI,GULBARGA SOUTH,M S K MILL GULBARGA,GLPS URDU SRINIVAS SARADAGI,None,Yes,None,NaN,NaN
1,30076110,b6c657bb-8ad4-4979-9f79-57ee16d4cd38,2025-02-03 11:56:01.347096,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:53:51.447820,2025-02-03 11:55:24.484639,15,46876833,NaN,...,KALABURAGI,RAICHUR,SINDHANUR,GOUDANBHAVI,GOVT.HIGHER PRIMARY SCHOOL HULLUR,None,Yes,None,NaN,NaN
2,30076335,3e011480-d1a2-4efa-9c02-41ba3b818086,2025-02-03 11:58:01.951761,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-03 11:56:26.015799,2025-02-03 11:57:49.000367,15,46877056,NaN,...,KALABURAGI,KALBURGI,GULBARGA SOUTH,FARATABAD,GOVT HPS GAROOR [B],None,Yes,None,NaN,NaN
3,30504668,9a268af7-b1e8-46cc-9ec5-7f80209afc00,2025-02-07 12:38:06.096135,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:32:23.194699,2025-02-07 12:37:13.548310,15,47364538,NaN,...,KALABURAGI,KOPPAL,GANGAVATHI,CHIKKAJANTHAKAL,GOVERNMENT LOWER PRIMARY SCHOOL DANAPUR,None,Yes,None,NaN,NaN
4,30507327,567393a6-af04-4ae9-b9f3-75a2e8419b82,2025-02-13 17:12:22.582940,03_B_IMPL LT MAIN,1194e485-f2de-4518-b4e1-e17c15c3f191,2025-02-07 11:40:19.807669,2025-02-13 17:10:49.115223,15,47367199,NaN,...,KALABURAGI,RAICHUR,RAICHUR,DEVASUGUR,GOVT.HIGHER PRIMARY SCHOOL I ST CROSS SHAKTINAGA,None,None,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151344,32630647,0d459fbb-9ce4-4d1d-9ae1-e0ae3003fd6a,2025-02-28 12:02:04.996686,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 11:59:10.177893,2025-02-28 12:01:32.700283,30,49914721,NaN,...,DHARWAD,VIJAYAPURA,SINDAGI,ASKI,GOVT HPS BEKINAL,Addition,None,None,1.0,NaN
151345,32630915,4df5a77a-ebfb-4b97-991d-016b94d3c836,2025-02-28 12:02:05.044277,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:00:29.592096,2025-02-28 12:01:59.499872,30,49914988,NaN,...,DHARWAD,VIJAYAPURA,INDI,SALOTAGI,GOVT KBHPS SALOTAGI HK,None,None,None,NaN,NaN
151346,32631594,305e1b5a-3bf6-4bb9-ae91-544d7ff35ff7,2025-02-28 12:06:01.949885,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:05:38.798241,2025-02-28 12:05:38.815773,30,49915663,NaN,...,MYSURU,MYSURU,NANJANAGUD,HADYA,GLPS HADYADAHUNDI,None,None,None,NaN,NaN
151347,32631837,c0f493d0-06b8-41fc-b926-1ad2401fa53f,2025-02-28 12:10:11.753949,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:08:36.531247,2025-02-28 12:09:46.449299,30,49915906,NaN,...,DHARWAD,VIJAYAPURA,INDI,INDI NO. 2,GOVT LPS GUDLENNAWAR VST SATAPUR,Addition,None,None,1.0,NaN
151349,32632506,1eb25e82-c6c8-4a25-804e-2675e8654b38,2025-02-28 12:18:11.443533,02_B_Baseline LT MAIN,c97e9241-c2f7-4d54-9232-ab544fe4ab56,2025-02-28 12:15:36.649037,2025-02-28 12:17:37.151853,30,49916563,NaN,...,KALABURAGI,BALLARI,SIRUGUPPA,M SUGURU,GLPS DODDA RAJA CAMP,Multiplication,None,None,3.0,NaN

In [49]:
df_merged['week'] = pd.to_datetime(df_merged['inserted_at']).dt.to_period('W')
df_final = df_merged.groupby(['school', 'week']).agg(
    teachers_registered=('contact_id', 'nunique'), 
    baseline_assessments=('baseline_level_numeric', 'count'),  
    baseline_average_level=('baseline_level_numeric', 'mean'), 
    tutoring_calls=('tutoring_confirmed', lambda x: (x == 'Yes').sum()),  # Count tutoring calls confirmed
    endline_assessments=('endline_level_numeric', 'count'),
    endline_average_level=('endline_level_numeric', 'mean') 
).reset_index()

/var/folders/3_/mfqvjm6901g672qcv1tpss840000gn/T/ipykernel_33314/1157640325.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_merged['week'] = pd.to_datetime(df_merged['inserted_at']).dt.to_period('W')

In [52]:
df_final

,school,week,teachers_registered,baseline_assessments,baseline_average_level,tutoring_calls,endline_assessments,endline_average_level
0,Demo school,2025-02-10/2025-02-16,1,2,2.500000,3,1,0.000000
1,G H P S HAMPA SAGARA-III,2025-02-10/2025-02-16,1,1,3.000000,0,0,NaN
2,G H P S HAMPA SAGARA-III,2025-02-24/2025-03-02,1,3,1.000000,8,3,3.000000
3,G H P S KADADARAL,2025-02-10/2025-02-16,3,15,0.933333,22,9,2.777778
4,G H P S KOTHAPALLI,2025-02-10/2025-02-16,1,3,1.333333,0,0,NaN
...,...,...,...,...,...,...,...,...
11434,UPGRADED GOVT HPS YEMPALLI,2025-02-10/2025-02-16,1,6,1.500000,5,2,3.000000
11435,"UPGRADED RMSA GHS, GHPS SCHOOL, GOURIPUR",2025-02-10/2025-02-16,1,0,NaN,3,1,4.000000
11436,"UPGRADED RMSA GHS, GHPS SCHOOL, GOURIPUR",2025-02-24/2025-03-02,2,1,1.000000,2,1,4.000000
11437,URDU LOWER PRIMARY SCHOOL SANGOLLI SANGOLLI,2025-02-10/2025-02-16,1,1,2.000000,0,0,NaN
11438,URDU LOWER PRIMARY SCHOOL SANGOLLI SANGOLLI,2025-02-17/2025-02-23,1,4,2.250000,0,1,3.000000

In [55]:
df_final['school'].nunique()

7534

In [56]:
df_final.isnull().sum()

school                       0
week                         0
teachers_registered          0
baseline_assessments         0
baseline_average_level    2705
tutoring_calls               0
endline_assessments          0
endline_average_level     6565
dtype: int64

In [58]:
df_final.columns

Index(['school', 'week', 'teachers_registered', 'baseline_assessments',
       'baseline_average_level', 'tutoring_calls', 'endline_assessments',
       'endline_average_level'],
      dtype='object')

In [60]:

df_final_complete = df_final.merge(
    df_merged[['school', 'division', 'district', 'block', 'cluster']].drop_duplicates(),
    on='school',
    how='left' 
)
df_final_complete = df_final_complete[["division", "district", "block", "cluster", "school", "week",
                                       "teachers_registered", "baseline_assessments", "baseline_average_level",
                                       "tutoring_calls", "endline_assessments", "endline_average_level"]]

In [61]:
df_final_complete

,division,district,block,cluster,school,week,teachers_registered,baseline_assessments,baseline_average_level,tutoring_calls,endline_assessments,endline_average_level
0,Demo division,Demo district,Demo block,Demo cluster,Demo school,2025-02-10/2025-02-16,1,2,2.500000,3,1,0.000000
1,KALABURAGI,VIJAYANAGARA,HAGARIBOMMANAHALLI,HAMPASAGARA,G H P S HAMPA SAGARA-III,2025-02-10/2025-02-16,1,1,3.000000,0,0,NaN
2,KALABURAGI,VIJAYANAGARA,HAGARIBOMMANAHALLI,HAMPASAGARA,G H P S HAMPA SAGARA-III,2025-02-24/2025-03-02,1,3,1.000000,8,3,3.000000
3,KALABURAGI,YADAGIRI,SHORAPUR,RAJANKOLUR,G H P S KADADARAL,2025-02-10/2025-02-16,3,15,0.933333,22,9,2.777778
4,BENGALURU,CHIKKABALLAPURA,BAGEPALLY,BAGEPALLI RURAL,G H P S KOTHAPALLI,2025-02-10/2025-02-16,1,3,1.333333,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
11743,KALABURAGI,KALBURGI,CHINCHOLI,DEGALMADI,UPGRADED GOVT HPS YEMPALLI,2025-02-10/2025-02-16,1,6,1.500000,5,2,3.000000
11744,KALABURAGI,KOPPAL,GANGAVATHI,HULIHYDAR,"UPGRADED RMSA GHS, GHPS SCHOOL, GOURIPUR",2025-02-10/2025-02-16,1,0,NaN,3,1,4.000000
11745,KALABURAGI,KOPPAL,GANGAVATHI,HULIHYDAR,"UPGRADED RMSA GHS, GHPS SCHOOL, GOURIPUR",2025-02-24/2025-03-02,2,1,1.000000,2,1,4.000000
11746,DHARWAD,BELAGAVI,BAILHONGAL,BELAVADI,URDU LOWER PRIMARY SCHOOL SANGOLLI SANGOLLI,2025-02-10/2025-02-16,1,1,2.000000,0,0,NaN
11747,DHARWAD,BELAGAVI,BAILHONGAL,BELAVADI,URDU LOWER PRIMARY SCHOOL SANGOLLI SANGOLLI,2025-02-17/2025-02-23,1,4,2.250000,0,1,3.000000

In [65]:
df_final_complete.to_csv("final_output.csv", index=False)